speckle analysis and simulation 1D scalar/speckle bench test data/numerical_speckle/inten_2.mat
speckle analysis and simulation 1D scalar/speckle bench test data/numerical_speckle/inten_3.mat
speckle analysis and simulation 1D scalar/speckle bench test data/numerical_speckle/inten_4.mat
speckle analysis and simulation 1D scalar/speckle bench test data/numerical_speckle/inten_5.mat
speckle analysis and simulation 1D spinor/speckle bench test data/numerical_speckle/inten_2.mat